doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Nucleus :: Coming Soon

    include template/styles


// Coming Soon
.coming-soon
    .inner-bg
        .container
            .row
                .col-sm-12
                    .wow.fadeInDown

                        a(href='/dashboard/login')
                            img.img-fluid(src="/cdn/images/nucleusfull.png" width="300px")
                    h2.wow.fadeInLeftBig Under Construction
                    .timer.wow.fadeInUp
                        .days-wrapper
                            span.days
                            br
                            | days
                        span.slash /
                        .hours-wrapper
                            span.hours
                            br
                            | hours
                        span.slash /
                        .minutes-wrapper
                            span.minutes
                            br
                            | minutes
                        span.slash /
                        .seconds-wrapper
                            span.seconds
                            br
                            | seconds
                    .wow.fadeInLeftBig
                        p
                            | We are working very hard on the new version of our site.
                            | Wil be ready coming soon!!
                    .subscribe.wow.fadeInUp

// Footer
footer
    .container
        .row
            .col-sm-7.footer-copyright
                p
                    | &copy; 2014-2024
                    a(href='https://leganux.com')  leganux.com
                    br
                    | All rights reserved.
            .col-sm-5.footer-social
                p Nucleus is a template maker / framework for easy development made by leganux with ♥️.

                p Visit
                    a(href="/dashboard/login")  /dashboard/login
                    |  to access admin panel.



include template/scripts

