doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Nucleus
        if title
            | !{title}
    include template/styles.pug
body.dark-mode
    .wrapper
        // Preloader
        .preloader.flex-column.justify-content-center.align-items-center
            img.animation__wobble(src='/cdn/images/nucleus_simple.png' alt='nucleus logo' height='120' width='120')
        // Navbar
        include template/navbar.pug
        // /.navbar
        // Main Sidebar Container
        include template/main_menu.pug

        .content-wrapper
            include template/breadcrubs.pug

            section.content
                .container-fluid

                    .row
                        .col-md-12
                            center
                                img.img-fluid(width="300px" src="/cdn/images/nucleus_simple.png")
                                h1 404 not found
                                br
                            .row
                                .col-2
                                .col-8
                                    .card
                                        .card-body
                                            h3 "Whoops!
                                            p(align="justify")   It seems like you've stumbled upon the elusive 404-icorn, a rare creature in the digital wilderness. Our apologies for this unexpected encounter. Rest assured, our team of tech-savvy adventurers has been dispatched to guide you back to civilization. In the meantime, why not enjoy a cup of virtual tea while we sort out the map? Thanks for your patience and happy browsing!" 🦄🗺️☕
                                            center
                                                a(href='/dashboard').btn.btn-dark Back to Start
                                .col-2




        include template/footer.pug
include template/scripts.pug
